[Desktop Entry]
Encoding=UTF-8
Name=BlackBox Component Builder
Comment=IDE and component framework for programming language Component Pascal
Exec=bbcb
Path=${SNAP_USER_COMMON}
Icon=${SNAP}/meta/gui/blackbox.svg
Categories=Development;
Version=1.8
Type=Application
Terminal=false
Name[ru_RU]=Блэкбокс
